<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Online Dictionary</title>

  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">


  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{css/bootstrap-icons.css}" rel="stylesheet">

  <link th:href="@{css/templatemo-topic-listing.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{css/profile.css}">
</head>
<body>
<main>
  <div th:replace="Header1 :: header"></div>
  <header style="padding-bottom: 0px;" class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-12">
        </div>
      </div>
    </div>
  </header>

  <h1 class="your">Change your Password</h1><br>
  <div class="ipform">
    <form method="post" th:action="@{/Changepassword}">
      <div class="name">
        <label class="name1">Old Password</label>
        <input class="name2" type="password" name="oldpass">
      </div>
      <br/>
      <div class="name">
        <label class="name1">New Password</label>
        <input class="name2" type="password" name="newpass">
      </div>
      <br/>
      <div class="name">
        <label class="name1">Confirm Password</label>
        <input style="margin-left: -25px;" class="name2" type="password" name="confirmpass">
      </div>
      <br/>
      <div class="" style="padding: 2px;">
        <input th:value="${session.account.id}" name="id" type="hidden">
      </div>
      <div class="" style="padding: 2px;">
        <p style="color: red;" th:text="${mess}"></p>
        <p style="color: green;" th:text="${noti}"></p>
      </div>
      <input class="edit" type="submit" value="Save">
    </form>
  </div>
</main>
<div th:replace="Footer.html :: footer"></div>
<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/click-scroll.js"></script>
<script src="js/custom.js"></script>


</body>
</html>
